---
- name: Add required packages for snmpd
  ansible.builtin.package:
    name: 
      - snmpd
    state: latest
  become: "{{ become_user | default(true) }}"
  tags:
    - always

- name: Update configuration
  template:
    src: snmpd.conf.j2
    dest: /etc/snmp/snmpd.conf
    owner: root
    group: root
    mode: '0600'
  notify: restart snmpd
  become: "{{ become_user | default(true) }}"
  tags:
    - always
