[defaults]
host_key_checking = False
forks = 20
stdout_callback = ansible.builtin.default
callback_result_format = yaml
bin_ansible_callbacks = True
interpreter_python = auto_silent
force_valid_group_names = ignore

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s

[inventory]
host_pattern_mismatch = ignore
