agentAddress udp:161,udp6:[::1]:161
view   systemonly  included   .1.3.6.1.2.1.1
view   systemonly  included   .1.3.6.1.2.1.25.1
{% if auth_ip is defined %}
rocommunity {{ auth_pw }}  {{ auth_ip }}/32 {% endif %}
rocommunity {{ auth_pw }}  10.5.76.22/32
sysLocation    {{ syslocation }}
sysContact     {{ syscontact }}
