---
- name: Create authorized_keys root
  template:
    src: authorized_keys.j2
    dest: /root/.ssh/authorized_keys
    mode: '0644'
  become: false
  tags:
    - always
  when:
    - become_user is defined
    - not become_user
  register: root_keys_update

- name: Create authorized_keys remote_mgr (root)
  template:
    src: authorized_keys.j2
    dest: ~remote_mgr/.ssh/authorized_keys
    mode: '0644'
  become: "{{ become_user | default(true) }}"
  tags:
    - always
  register: remote_mgr_keys_update

- name: Update Proxmox certs
  ansible.builtin.command:
    cmd: "pvecm updatecerts"
  when:
    - "'proxmox_server' in (host_tags | default([]))"
    - (root_keys_update is changed) or (remote_mgr_keys_update is changed)
  become: yes

- name: Create authorized_keys non root
  template:
    src: authorized_keys.j2
    dest: ~/.ssh/authorized_keys
    mode: '0644'
  become: true
  tags:
    - always
  when:
    - become_user is not defined or become_user

