---
- name: Set sudo group fact
  ansible.builtin.set_fact:
    sudo_group: "{{ 'wheel' if ansible_os_family == 'Alpine' else 'sudo' }}"

- name: Ensure standard user exists
  ansible.builtin.user:
    name: remote_mgr
    groups: "{{ sudo_group }}, users"
    uid: 5003
    shell: /bin/bash
    generate_ssh_key: yes
    ssh_key_bits: 2048
    ssh_key_file: .ssh/id_rsa
  become: "{{ become_user | default(true) }}"

- name: Ensure sudoers is updated 
  ansible.builtin.copy:
    src: 80-remote-mgr
    dest: /etc/sudoers.d/80-remote-mgr
    owner: root
    group: root
    mode: '0440'
  become: "{{ become_user | default(true) }}"

