metricbeat.config.modules:
  path: ${path.config}/modules.d/*.yml
  reload.enabled: true
setup.template.settings:
  index.number_of_shards: 1
  index.codec: best_compression
{% if kibana_host is defined %}
setup.kibana:
  host: "{{ kibana_host }}:{{ kibana_port |default(5601) }}"
{% endif %}
output.elasticsearch:
  hosts: ["{{ elasticsearch_host }}:{{ elasticsearch_port | default(9200) }}"]
processors:
  - add_host_metadata: ~
  - add_cloud_metadata: ~
  - add_docker_metadata: ~
  - add_kubernetes_metadata: ~

