---
- name: Check NetBird status for IP
  # This command extracts just the IP address if it exists
  shell: "netbird status | grep 'NetBird IP' | awk '{print $3}' | cut -d/ -f1"
  register: netbird_ip
  failed_when: false
  changed_when: false

- name: Install Zabbix Repository
  apt:
    deb: "https://repo.zabbix.com/zabbix/{{ zabbix_version }}/release/{{ ansible_distribution | lower }}/pool/main/z/zabbix-release/zabbix-release_latest+{{ ansible_distribution | lower }}_all.deb"
    state: present

- name: Install Zabbix Agent2
  apt:
    name: zabbix-agent2
    update_cache: yes
    state: present

- name: Configure Zabbix Agent2 from template
  template:
    src: zabbix_agent2.conf.j2
    dest: /etc/zabbix/zabbix_agent2.conf
    owner: root
    group: root
    mode: '0644'
  notify: Restart Zabbix Agent2

- name: Ensure Zabbix Agent2 is enabled and started
  service:
    name: zabbix-agent2
    state: started
    enabled: yes
