---
- name: Set hosts
  ansible.builtin.include_tasks: task_set_hosts.yml

- name: Include task to install required packages
  ansible.builtin.include_tasks: task_required_packages.yml

- name: Set CA certificate
  ansible.builtin.include_tasks: task_add_ca_certs.yml

- name: Setup Syslog
  ansible.builtin.include_tasks: task_setup_syslog.yml
