---
---
- name: Reset ca_host fact
  ansible.builtin.set_fact:
    ca_host: null

- name: Check for resolvable CA hosts
  ansible.builtin.set_fact:
    ca_host: "{{ item }}"
  loop: "{{ ca_check_list }}"
  when: 
    - ca_host is none
    - item is ansible.utils.resolvable

- name: Apply fallback IP if no hostnames resolved
  ansible.builtin.set_fact:
    ca_host: "{{ ca_fallback_ip }}"
  when: ca_host is none

- name: Verify CA host was set
  ansible.builtin.assert:
    that: ca_host is defined and ca_host != none
    fail_msg: "Could not resolve a CA host and no fallback was successful."

- name: Bootstrap CA Root Certificate 
  include_role: 
    name: trfore.smallstep.step_ca_cert
  vars:
    step_ca_fingerprint: "70e19eaccd49e4e7bed26adce4b426be6facd82e98526aa38493b00cf29b86f4"
    step_ca_url: "https://{{ ca_host }}"
  ignore_errors: true

- name: Update CA trust store (Red Hat/CentOS)
  ansible.builtin.command: update-ca-trust extract
  when: ansible_facts['os_family'] == "RedHat"

- name: Update CA trust store (Debian/Ubuntu)
  ansible.builtin.command: update-ca-certificates
  when: ansible_facts['os_family'] == "Debian"

- name: Update CA trust store (SUSE)
  ansible.builtin.command: update-ca-certificates
  when: ansible_facts['os_family'] == "Suse"

- name: Update CA trust store (Alpine)
  ansible.builtin.command: update-ca-certificates
  when: ansible_facts['os_family'] == "Alpine"
