---
- name: Check if hosts ar resolvable or not
  ansible.builtin.set_fact:
    ca_jit: "{{ 'ca.jitonline.local' is ansible.utils.resolvable }}"
    ca_home: "{{ 'ca.home' is ansible.utils.resolvable }}"
  delegate_to: localhost

- name: Check if ca.jitonline.net is resolvable or not
  ansible.builtin.set_fact:
    ca_host: "ca.jitonline.local"
  when: ca_jit

- name: Check if ca.home is resolvable or not
  ansible.builtin.set_fact:
    ca_host: "ca.home"
  when: ca_home

- name: Set default ca
  ansible.builtin.set_fact:
    ca_host: "10.5.69.8"
  when: ca_host is not defined

- name: Bootstrap CA Root Certificate 
  include_role: 
    name: trfore.smallstep.step_ca_cert
  vars:
    step_ca_fingerprint: "70e19eaccd49e4e7bed26adce4b426be6facd82e98526aa38493b00cf29b86f4"
    step_ca_url: "https://{{ ca_host }}"
  ignore_errors: true

- name: Update CA trust store (Red Hat/CentOS)
  ansible.builtin.command: update-ca-trust extract
  when: ansible_facts['os_family'] == "RedHat"

- name: Update CA trust store (Debian/Ubuntu)
  ansible.builtin.command: update-ca-certificates
  when: ansible_facts['os_family'] == "Debian"

- name: Update CA trust store (SUSE)
  ansible.builtin.command: update-ca-certificates
  when: ansible_facts['os_family'] == "Suse"

- name: Update CA trust store (Alpine)
  ansible.builtin.command: update-ca-certificates
  when: ansible_facts['os_family'] == "Alpine"
