---
- name: Set CA certificate destination path
  ansible.builtin.set_fact:
    ca_cert_dest: >-
      {% if ansible_os_family == 'RedHat' %}/etc/pki/ca-trust/source/anchors/
      {% else %}/usr/local/share/ca-certificates/
      {% endif %}

- name: Transfer CA Certificate to server
  ansible.builtin.copy:
    src: HOME_PKI_Root_CA_274749243138288842360003561070822287839.crt
    dest: "{{ ca_cert_dest }}"
    owner: root
    group: root
    mode: '0644'
    backup: yes
  notify: "update ca trust"
  become: yes

- name: Remove unneeded cert
  ansible.builtin.file:
    path: "{{ ca_cert_dest }}/HOME_PKI_INTERMEDIATE_CA_a15f3d75541864f90fb7a3dab065eba2.crt"
    state: absent
  notify: "update ca trust"
  become: yes
