---
- name: Install required packages (Debian family)
  ansible.builtin.apt:
    name: 
      - "python3"
      - "python3-pip"
      - "python3-setuptools"
      - "rsyslog"
      - "sudo"
      - "tcpdump"
      - "vim"
    state: latest
    update_cache: yes
  when: ansible_os_family == 'Debian'
  become: yes

- name: Install required packages (Alpine)
  community.general.apk:
    name: 
      - "bash"
      - "ca-certificates"
      - "python3"
      - "py3-pip"
      - "py3-setuptools"
      - "rsyslog"
      - "rsyslog-openrc"
      - "shadow"
      - "sudo"
      - "tcpdump"
      - "vim"
    state: latest
    update_cache: yes
  when: ansible_os_family == 'Alpine'
  become: yes

- name: Install upgrade packages (Ubuntu)
  ansible.builtin.apt:
    name: 
      - "ubuntu-release-upgrader-core"
    state: latest
  when: ansible_distribution == 'Ubuntu'
  become: yes

- name: Remove Apache
  ansible.builtin.apt:
    name:
      - apache2
    state: absent
  when: 
    - ansible_os_family == 'Debian'
    - "'apache' not in group_names"
  become: yes

- name: Install the latest version of step CLI
  ansible.builtin.include_role:
    name: smallstep.cli.install
  when: ansible_os_family != 'Alpine'
