---

- name: Add required packages for docker (Debian family)
  ansible.builtin.apt:
    name: 
      - apt-transport-https
      - ca-certificates
      - curl
      - software-properties-common
      - python3-pip
    state: latest
  become: "{{ become_user | default(true) }}"
  when: ansible_os_family == 'Debian'

- name: Add Ubuntu GPG key for docker
  ansible.builtin.apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present 
  become: "{{ become_user | default(true) }}"
  when: ansible_distribution == 'Ubuntu'

- name: Add Ubuntu docker repository
  ansible.builtin.apt_repository:
    repo: "deb [arch=amd64] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable"
    state: present
  become: "{{ become_user | default(true) }}"
  when: ansible_distribution == 'Ubuntu'

- name: Add Debian GPG key for docker
  ansible.builtin.apt_key:
    url: https://download.docker.com/linux/debian/gpg
    state: present 
  become: "{{ become_user | default(true) }}"
  when: ansible_distribution == 'Debian'

- name: Add Debian docker repository
  ansible.builtin.apt_repository:
    repo: "deb [arch=amd64] https://download.docker.com/linux/debian {{ ansible_distribution_release }} stable"
    state: present
  become: "{{ become_user | default(true) }}"
  when: ansible_distribution == 'Debian'

- name: Add docker package (Debian family)
  ansible.builtin.apt:
    name: 
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-compose-plugin
      - python3-docker
      - python3-docker-compose
    state: latest
    update_cache: yes
  become: "{{ become_user | default(true) }}"
  when: ansible_os_family == 'Debian'

- name: Add docker and py3-pip packages (Alpine)
  community.general.apk:
    name: 
      - docker
      - py3-pip
      - docker-compose
    state: latest
    update_cache: yes
  become: "{{ become_user | default(true) }}"
  when: ansible_os_family == 'Alpine'

- name: Install python modules for managing docker (Alpine)
  ansible.builtin.pip:
    name: 
      - docker
      - docker-compose
    state: latest
  become: "{{ become_user | default(true) }}"
  when: ansible_os_family == 'Alpine'

- name: Install python modules for managing docker (Non-Alpine)
  ansible.builtin.pip:
    name: 
      - docker
      - docker-compose
    state: latest
  become: "{{ become_user | default(true) }}"
  when: ansible_os_family != 'Alpine'

- name: Ensure Docker service is started and enabled
  ansible.builtin.service:
    name: docker
    state: started
    enabled: yes
  become: "{{ become_user | default(true) }}"

